---

---

<div id="three-container"></div>

<style>
  #three-container {
    width: 100dvw;
    height: 100dvh; /* Full viewport height */
    display: block;
    position:absolute;
    z-index: -1;
  }
</style>

<script>
    import * as THREE from 'three';
    

</script>